echo STARTED DISK RESIZE TASKS
echo =========================
echo "DATE: $(date)"
echo

echo EXPAND LVM PV DISK
DISK=sda
PART=3
parted /dev/$DISK resizepart $PART 100%
pvresize /dev/$DISK$PART

echo
echo "DATE: $(date)"
echo disk resize steps finished
