LOG=/root/post_setup.log
echo STARTED POST SETUP TASKS >> $LOG
echo ======================== >> $LOG
echo "DATE: $(date)" >> $LOG
echo >> $LOG

echo "INFO: cleanup post install files" >> $LOG 2>&1
test -d /root/.setup || rm -rfv /root/.setup >> $LOG 2>&1
mkdir -v /root/.setup >> $LOG 2>&1
mv -v /root/???* /root/.setup >> $LOG 2>&1

echo >> $LOG
echo Post install steps finished >> $LOG
echo All install logs and scripts got moved to /root/.setup >> $LOG
echo "DATE: $(date)" >> $LOG
